<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/build.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="navbar bg-base-100 shadow-xl">
        <div class="dropdown flex-1">
            <div tabindex="0" role="button" class="btn btn-ghost text-xl">
                <p>Garbanzo</p>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li><a>Homepage</a></li>
                <li><a>Portfolio</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
        <div class="flex-none gap-2">
            {% if user.is_authenticated %}
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <img alt="Profile Photo"
                                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                        <li>
                            <a class="justify-between">
                                Profile
                                <span class="badge">New</span>
                            </a>
                        </li>
                        <li><a>Settings</a></li>
                        <li><a>Logout</a></li>
                    </ul>
                </div>
            {% else %}
            <a href={{ auth_url }}><button class="btn btn-ghost">Login</button></a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>