{% extends 'base.html' %}

{% block content %}

<h1 class="text-3xl font-bold underline">Hello world!</h1>

<div class="flex">

    <div class="w-1/4 p-4 bg-gray-200"> <!-- Sidebar  -->
      {% if not auth_url %}
      <h1>Hello {{ user }}</h1>
      <a href="{% url 'sign_out' %}">Sign out</a>
      {% endif %}
      {% for track in tracks %}
          <li> {{ track }} </li>
      {% endfor %}  
    </div>
  
    <div class="w-3/4 p-4"> <!-- Main content area -->
  
    </div>
  
  </div>

{% endblock %}